@model List<DevFolio.Models.TblContact>
@{
    ViewBag.Title = "MessageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Mesajlar Listesi</h2>

<table class="table table-bordered">
    <tr class="table table-secondary">
        <th>#</th>
        <th>Adı Soyadı</th>
        <th>Email</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Mesaj</th>
    </tr>

    @foreach (var item in Model)
    {
        string state = "";
        string value = "";

        if (item.IsRead == true)
        {
            state = "bg-success";
            value = "Okundu";
        }

        else
        {
            state = "bg-danger";
            value = "Okunmadı";
        }

    <tr>
        <td>@item.ContactID</td>
        <td>@item.NameSurname</td>
        <td>@item.Email</td>
        <td>@item.Subject</td>
        <td>@(((DateTime)item.SendMessageDate).ToString("d"))</td>
        <td><span class="badge @state" style="font-size:13px; color:lemonchiffon">@value</span></td>
        <td><a href="/Contact/DeleteMessage/@item.ContactID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Contact/ReadMessage/@item.ContactID" class="btn btn-warning">Mesajı Aç</a></td>
    </tr>
    }


</table>

