@model List<DevFolio.Models.TblProfile>
@{
    ViewBag.Title = "ProfileList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Profil Sayfası</h2>

<table class="table table-bordered">
    <tr align="center" class="table table-secondary">
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Ünvan</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProfileID</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td><a href="/Profile/DeleteProfile/@item.ProfileID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Profile/UpdateProfile/@item.ProfileID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

@if (ViewBag.num1Addr < 1)
{
    <a href="/Profile/CreateProfile" class="btn btn-info">Yeni Profil Girişi</a>
}