@{
    ViewBag.Title = "AddressList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İletişim Sayfası</h2>

<table class="table table-bordered">

    <tr align="center" class="table table-secondary">
        <th>#</th>
        <th>Açıklama</th>
        <th>Konum</th>
        <th>Telefon Numarası</th>
        <th>Email</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td>@ViewBag.AdresID</td>
        <td>@ViewBag.Description</td>
        <td>@ViewBag.Location</td>
        <td>@ViewBag.PhoneNumber</td>
        <td>@ViewBag.Email</td>
        <td><a href="/Address/DeleteAddress/@ViewBag.AdresID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Address/UpdateAddress/@ViewBag.AdresID" class="btn btn-success">Güncelle</a></td>
    </tr>
</table>
@if (ViewBag.num1Addr < 1)
{
    <a href="/Address/CreateAddress" class="btn btn-info">Yeni Adres Girişi</a>
}


